body {
    font-family: monospace;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    /*space-around is what makes the header "centered" with a large gap between the logo and links*/
    align-items: center;
    padding: 10px 50px;
    border: 2px solid red;
}

.logo {
    border: 2px solid red;
}

.right-links {
    display: flex;
    gap: 25px;
    border: 2px solid red;
}

.containerOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 50px;
    border: 2px solid red;
}

.containerOne > img {
    width: 400px;
    height: auto;
    border: 2px solid red;
}

.awesome {
    border: 2px solid red;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 100px;
    height: 25px;
    border-style: none;
}

.containerTwo {
    border: 2px solid red;
}