body {
    font-family: monospace;
}

header {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.right-links {
    display: flex;
    gap: 25px;
}

.container {
    display: flex;
}

.container > img {
    width: 400px;
    height: auto;
}